<div class="grid-container">
    <div class="grid-x grid-margin-x">
            {{#each model.listItem as |i|}}
                <button class="large expanded button">
                    {{i.name}}
                </button>
            {{/each}}
            </div>
            </div>
{{outlet}}